<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/main.css">
    {% seo %}
  </head>
  <body>
    <a href="#top-page"></a>
    <input type="checkbox" id="menu-toggle"/>
    <div id="menu-toggle-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <header>
      <h1 class="header-top">
        <a href="#top-page">
          Index
        </a>
      </h1>
      <nav>
        {{ content | toc_only }}
      </nav>
    </header>
    <article>
      <div id="article">
        <a id="top-page"></a>
        {{ content }}
      </div>
    </article>
  </body>
</html>
