<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body>
    <header>
      <h1 class="header-top">
        Index
        <a href="#top-page">
          Return to top
        </a>
      </h1>
      <nav>
        {{ content | toc_only }}
      </nav>
    </header>
    <article>
      <div id="article">
        <a id="top-page"></a>
        {{ content }}
      </div>
    </article>
  </body>
</html>
