---
---

// -- Vars ---------------------------------------------------

$bg-colour: #fcfcfc;
$text-colour: #333;
$primary-colour: #7e5596;
$primary-text: #fff;
$border-colour: #aaa;

$primary-hover: lighten($primary-colour, 45);

$spacing: 10px;
$spacing-h: $spacing * 0.5;
$spacing2: $spacing * 2;

$anim-time: 0.15s;

// -- Main ---------------------------------------------------

::-webkit-scrollbar{
  $size: 14px;

  width: $size;
  height: $size;

  background: darken($bg-colour, 5);
}
::-webkit-scrollbar-thumb{
  background-color: darken($primary-colour, 10);
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;

  background: $bg-colour;
  color: $text-colour;
  font-family: sans-serif;
  font-size: 0.95em;
}

a:link,
a:visited,
a:active{
  color: $primary-colour;
}

h1{
  margin: 0;
  padding: 0.5em;
  position: sticky;
  top: 0;
  z-index: 10;

  background: $primary-colour;
  color: $primary-text;
  font-size: 1.7em;
  font-weight: normal;
}

p{
  margin: $spacing 0;
}

// -- Header ---------------------------------------------------

header{
  h1{
    a:link,
    a:visited,
    a:active{
      position: absolute;
      bottom: 0;right: 0;
      padding: 2px 6px;

      background: $primary-colour;
      border-radius: 0 0 0 3px;
      color: $primary-text !important;
      font-size: 0.8rem;
      text-decoration: none;
    }
  }

  nav{
    ul{
      margin: 0;
      padding: $spacing-h;

      list-style: none;
    }

    > ul.section-nav{
      ul{
        padding: 0 0 0 $spacing;
        margin: 0 0 $spacing $spacing;

        border-left: 1px dashed $border-colour;
      }

      a{
        display: block;
        padding: 2px 6px;

        border-radius: 3px;
        text-decoration: none;

        &:hover{
          background: $primary-hover;
        }
      }

      > .toc-entry.toc-h1 > a{
        font-size: 1.2em;
        padding: 4px 8px;

        background: $primary-colour;
        color: $primary-text;
      }
    }
  }
}

body article{
  margin: 0;
  padding: 0;
  flex: 1 80%;

  #article{
    margin: 0;
    padding: 0;

    > div > div{
      margin: 0;
      padding: 0;
      border: 1px solid $primary-colour;
      border-radius: 3px;

      h2{
        margin: 0;
        padding: $spacing;

        border-bottom: 1px solid $primary-colour;
        color: $primary-colour;
      }
    }

    > #characters{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $spacing;
      padding: $spacing;

      > .character{
        //margin: 0;

        > label .content{
          padding: $spacing;

          img.character-icon{
            float: left;
            margin: 0 $spacing $spacing 0;
          }

          ul.char-stats{
            margin: 0 0 $spacing $spacing;
            float: right;
            padding: 0;

            list-style: none;

            li{
              border-bottom: 1px dashed $border-colour;
              padding: 4px;

              span.character-stat-key{
                font-weight: bold;
              }
              span.character-stat-value{
                float: right;
                margin: 0 $spacing;
              }
            }
          }

          div.character-content{ grid-area: content; }
        }
      }
    }

    > #maps .maps-hub{
      margin: 0 $spacing $spacing $spacing;

      .maps-grouped{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $spacing;
        padding: $spacing;

        .map{
          border: 1px dotted #aaa;
          border-radius: 3px;

          h3{
            margin: 0 0 $spacing 0;
            padding: $spacing $spacing2;
            border-bottom: 1px dotted $border-colour;
          }

          .map-stats{
            margin: $spacing;
          }

          .map-content{
            margin: $spacing;
          }
        }

        {% for map in site.data.stock-maps %}
            {% assign srcfile = map["srcfile"] | slugify %}
            {% assign map_list = map_list | append: " " | append: srcfile %}
        {% endfor %}
        $map-list: {{ map_list }};

        .map-compact{
          display: grid;
          grid-template-areas: "heading heading heading" "tiles dust enemies";
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: $spacing;

          border: 1px solid $primary-colour;
          padding: 10px;
          border-radius: 4px;

          .heading{
            display: flex;
            align-items: stretch;
            grid-area: heading;

            h3{
              grid-area: heading;
              position: relative;
              margin: 0;
              padding: 0;
              width: 380px;
              height: 180px;
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 3px;

              @each $map in $map-list {
                  &.maps-level-#{$map} {
                        background-image: url("img/maps/#{$map}.jpg");
                  }
              }

              span{
                position: absolute;
                left: 10px;
                bottom: 10px;
                display: block;
                padding: 10px;
                background: #0008;
                color: #fff;
                letter-spacing: 5px;
                text-transform: uppercase;
              }
            }

            .map-stats-section.map-stats-general{
              flex-grow: 1;
              margin-left: $spacing;
            }
          }

          .map-stats-section{
            margin: 0;
            padding: 0;

            .map-stats-heading{
              padding: $spacing 0 0 0;

              border-bottom: 1px dotted $border-colour;
              font-weight: bold;
              font-size: 1.2em;
            }
            ul{
              margin: 0 0 0 $spacing;
              padding: 0;

              list-style: none;

              div{
                padding: 3px;
              }
              .map-stat-key{
                font-weight: bold;
              }
              .map-stat-value{
                float: right;
              }
            }
          }

          .map-stats-section.map-stats-layers{
            grid-area: tiles;
          }
          .map-stats-section.map-stats-dust{
            grid-area: dust;
          }
          .map-stats-section.map-stats-enemies{
            grid-area: enemies;
          }
        }
      }
    }
  }
}

.unfolder{ display: none; }

.toggle-label{
  //cursor: pointer;
  //background-color: black;
}

.unfolder:checked ~ .toggle-label{
  background-color: white;
}

#article > div{
  //border: 1px solid black;
  //padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  //margin-bottom: 2rem;
}

#article > div > div{
  border: 1px solid black;
  padding: 10px;
  min-width: 24em;
  margin: 10px;
  flex: 1 33%;
}

#tech > div[class^="tech-"],
#maps > div[class^="maps-"]{
  flex-basis: 100%;
}

#tech > div[class^="tech-"] > h2,
#maps > div[class^="maps-"] > h2{
  text-align: center;
}

#tech > div[class^="tech-"] > h2 ~ div{
  max-width: 80rem;
  margin: 0 auto;
}

.maps-grouped > .map{
  border: 1px dotted black;
}

.maps-grouped > .map > h3{
  margin: 2rem;
}

.tech-header h3{
  display: inline-block;
  margin: 0 0.5em 1.5em;
  font-size: 150%;
}

.tech-header .tags{
  float: right;
  color: #BBB;
  font-size: 80%;
}

.tech-header .tags .tagprefix{
  font-weight: bold;
}

#enemies .enemy{
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
}

.stats{
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-between;
}

.stats .stat{
  //padding: 0.25rem 1rem;
  //background-color: rgba(0, 0, 0, 0.05);
  //margin: 0.25rem;
  //border-radius: 1rem;
  //display: flex;
}
{% assign map_stat_defaults = site.data.stock-maps | first %}
{% for stat in map_stat_defaults %}
    {% assign map_stat_list = map_stat_list | append: " " | append: stat[0] %}
{% endfor %}
$map-stat-list: {{ map_stat_list }};

@mixin textcontent($statname, $content){
  &.stat-#{$statname}::before{
    background-image: unset;
    content: '#{$content}';
  }
}

.map-stats{
  @each $stat in $map-stat-list{
    .stat-#{$stat}{
      &::before{
        background-image: url("img/icon/stat/map/#{$stat}.png");
      }
    }
  }
  @for $i from 1 through 20{
    .stat-tiles_layer#{$i}::before{
      content: "#{$i}";
    }
  }
  [class*='stat-tiles_']::before{
    background-image: url("img/icon/stat/map/tiles_layer.png");
    line-height: 3em;
    text-align: right;
    color: white;
    font-size: inherit;
  }
  .map-stat{
    @include textcontent(name, "📛");
    @include textcontent(srcfile, '🖼');

    span{
      margin-left: 0.5em;
    }
  }
}

.map-stat::before{
  //content: '';
  //#background-color: red;
  //width: 32px;
  //height: 32px;
  //display: inline-block;
  //font-size: 32px;
}

//.map-stat{
//  line-height: 32px;
//}

.map-stats
.stat.stat-attrib-true span,
.stat.stat-attrib-false span{
  display: none;
}

.stat::after{
  font-size: 32px;
}

.stat.stat-attrib-true::after{
  content: '✓';
  color: green;
}

#enemies .enemy .enemy-stats .enemy-stat a{
  text-transform: capitalize;
}

body header,
body article{
  overflow: auto;
  height: 100vh;
}

body header{
  scrollbar-width: none;
  flex-basis: 20%;
  min-width: 11em;
  max-width: 18em;
}

//body article{
//  padding: 0 1rem;
//  flex: 1 80%;
//}

.uncertain-value{
  color: red;
}
